h1 {
    color: cyan;
    background-color:black;
    text-align: left;
}

h2{
    color:whitesmoke;
    background-color: rebeccapurple;
    text-align: center;
    font-style: italic;
}

h3{
    color:black;
    background-color: skyblue;
    text-align: right;
    text-decoration: underline;

}